/* Main Stylesheet for site */


/* Fix space between navbar and jumbotron*/
.navbar {
    margin-bottom: 0;
}

.jumbotron {
	  background-color: #FFFFFF;
    position: absolute; 
    left: 50%; 
    margin: 0 0 0 -200px;
}

#buttonDiv {
	position: relative;
	margin: 100px 0 0 -20%;
}

.container {
	display: none;
  position: absolute;
  margin: 550px;
}

button {
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #FFFFFF;
  color: black;
  padding: 18px 60px;
  border-radius: 2px;
  font-size: 20px;
}

.fab {
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material {
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple {
  overflow:hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #FF9900;
    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}