{% extends "base.html" %}
{% block content %}
    {# Content goes here #}
    <div class="jumbotron">
        <img id="baseImg" src="/static/img/Ocelot_Logo.png"/>// under construction
        <div id="buttonDiv">
            <button id="AUbutton" class="ripple"> About Us </button>
            <button id="Ubutton" class="ripple"> Upload a Song </button>
            <button id="Rbutton" class="ripple"> Record a Clip </button>
        </div>
    </div>

    <div id="aboutUs" class="container">
        <h3> About Us </h3>
        <p> coming soon </p>
    </div>
    <div id="upload" class="container">
        <div class="">
            <h3>Upload Song</h3>
            <form id="audio-upload" action="{{ url_for('upload') }}" method=POST enctype=multipart/form-data>
                <input id="audio-file-input" type=file name="audio">
                <button id="submit-audio-upload" type="submit">Upload</button>
            </form>
            <h3 id="fileIsUploaded"></h3>
            <ul id="uploadedPlaylist">
            </ul>
        </div>
    </div>
    <div id="record" class="container">
        <div class="">
            <h3>Record 20 second music clip</h3>
            <button id="recordButton" onclick="startRecording(this);" class="ripple">record</button>
            <div class="progress progress-striped">
                <div class="progress-bar" style="width: 0%;">
                </div>
            </div>
            <h3 id="isUploaded"></h3>
            <ul id="recordedPlaylist">

            </ul>
        </div>
    </div>
    <div id="result-div">
        <ul id="result-list">

        </ul>
    </div>

    {# Page specific js files  #}
    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio-capture.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload-song.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/page-handler.js') }}"></script>
{% endblock %}